http://localhost:81, http://:81 {
	root RubyDemo/public
	log caddy.log
	errors caddy.err

	proxy / unix:/Users/Michi/Code/RubyProjects/RailsAssetsErrorDemo/RubyDemo/shared/sockets/puma.sock {
            except /assets
    }
}

